:root {

}

body {
    text-align: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

main {


}

.colors {

}

.colors th {

}

.colors td {

}

#text {

}

img {
    width: 100%;
}