
body {
    text-align: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

main {
    margin: 30px;

}

table {
    border: 0px;
}

.colors {
    width: 100%;
    margin: 30px auto;
}

.colors th {
    background-color: lightgray;
    height: 2em;
}

.colors td {
    width: 20%;
    height: 3em;
}

#headerbg {
    background-color: rgb(100, 37, 18);
    color: white;
}

#headertxt {
    color: black;
}

#bg1 {
    background-color: rgb(248, 242, 226);
}

#accent1 {
    background-color: darkgreen;
    color: white;
}

#accent2{
    background-color: rgb(174, 212, 174);
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}