/* Larger Views ******************************/
@media (min-width: 800px) {
	main {
		max-width: 1248px;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 16px;
	}

	#nasa {
		grid-column: 1;
	}

	#dell {
		grid-column: 2;
	}

	#blog {
		grid-column: 3;
	}
}