header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: steelblue;
	padding: 5px;
	width: 400px;
	color: white;
}

nav {
	display: block;
	background-color: gray;
	width: 400px;
	font-family: Roboto, Helvetica, sans-serif;
	justify-content: center;
	text-align: center;
	color: white;
	padding: 5px;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-family: Roboto, Helvetica, sans-serif;

}

h3 {
	background-color: steelblue;
	padding: 5px;
	border-width: 2px;
	border-style: solid;
}
ul {
    list-style-type: none;
    padding: 4px;
    margin: 5px;
}