* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    grid-template-columns: 1fr 1fr;
}
body {
	font-size: 16px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: steelblue;
	padding: 20px;
	color: white;
}

header img {
    max-width: 80px;
    border-radius: 8px;
}

nav {
    background-color: gray;
    margin: 0 auto;
    max-width: 1200px;

}

nav ul {
    list-style-type: none;
}

nav a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin: 0;
    flex-direction: column;
    gap: 10px;
}
nav a:hover {
    text-decoration: underline overline;
}
h3 {
	background-color: steelblue;
	padding: 5px;
	border-width: 2px;
	border-style: solid;
}
.cards {
	position: relative;
    max-width: 800px;
    background-color: gray;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
    margin: 10px;
}
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    .cards {
        grid-column: 1/2;
        grid-row: 2;
    }
}